@import "../appColors.css";

.dashboard-icon-container {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: var(--common); */
  justify-content: center;
  align-content: center;
  overflow: hidden;
  /* padding: 5%; */
}

.dashboard-icon {
  border-radius: 10px;
  color: #fff;
  width: 80%;
  height: 80%;
  scale: 1;
  transition: 1s;
}

.dashboard-icon:hover {
  scale: 0.8;
  transition: 1s;
}

.dashboard-icon-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.user-container {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  padding: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.single-user {
  width: 100%;
  background-color: var(--singleUserBackground);
  border: 1px solid var(--singleUserBorderColor);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputbar-container {
  position: absolute;
  bottom: 3%;
  height: auto;
  width: 90%;
  flex-grow: 1;
  display: flex;
  padding: 0.2rem;
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--inputbarContainerBackground);
  align-items: center;
}

.input-bar {
  border-right: 10px;
  width: 90%;
}

textarea {
  all: unset;
  font-size: 25px;
  color: var(--textareaColor);
  background-color: var(--textareaBackground);
  overflow: hidden;
  resize: none;
}

.inputbar-button {
  color: var(--inputbarButtonColor);
  font-size: 30px;
  font-weight: 900;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--inputbarButtonBackground);
  scale: 1;
  transition: 1s;
}

.inputbar-button-container {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inputbar-button:hover {
  scale: 1.1;
  transition: 1s;
}


.timer-container {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

textarea::placeholder {
  color: #fff;
  align-items: center;
  justify-content: center;
}

.timer-counter {
  color: var(--common);
}

@media (max-width:600px) {

  textarea,
  .inputbar-button {
    font-size: 15px;
  }

  .inputbar-button-container {
    height: 60%;
  }
}

.word-counter {
  position: absolute;
  background-color: var(--wordCounterBackground);
  width: 100%;
  height: 1px;
  top: 0;
  font-size: 10px;
  transition-duration: 0.3s;
}


.room-container {
  display: flex;
  width: 70%;
  height: 60%;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  padding: 2%;
  flex-direction: column;
  box-shadow: 0 0 2px var(--common);
  scale: 1;
  transition: 1s;
}

.room-container:hover {
  scale: 0.96;
  transition: 3s;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 25%;
  box-shadow: 0 0 2px var(--common);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  scale: 1;
  transition: 1s;
  position: relative;
}

.rcount {
  background-color: var(--common);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  right: 0px;
  font-size: 12px;
  font-weight: 900;
  color: #fff;
}

.rcount-active {
  color: var(--common);
  background-color: #fff;
}

.card-container:hover {
  scale: 1.1;
  transition: 0.1s;
}

.card-container-active {
  background-color: var(--common);
}


.icon-container {
  display: flex;
  width: 100%;
  height: 70%;
  color: var(--common);
  justify-content: center;
  align-items: center;
}

.icon-container-active {
  color: #fff;
}

.name-container {
  color: #fff;
  text-align: center;
}

.name-container-active {
  color: #fff;
}

.icon {
  width: 100%;
  height: 100%;
}