@import "../appColors.css";

.dashboard-icon-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  border-radius: 100%;
}

.dashboard-icon-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.user-container {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  padding: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.single-user {
  width: 100%;
  background-color: var(--singleUserBackground);
  border: 1px solid var(--singleUserBorderColor);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputbar-container {
  position: absolute;
  bottom: 3%;
  height: auto;
  width: 90%;
  flex-grow: 1;
  display: flex;
  padding: 0.2rem;
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--inputbarContainerBackground);
  align-items: center;
}

.input-bar {
  border-right: 10px;
  width: 90%;
}

textarea {
  all: unset;
  font-size: 25px;
  color: var(--textareaColor);
  background-color: var(--textareaBackground);
  overflow: hidden;
  resize: none;
}

.inputbar-button {
  color: var(--inputbarButtonColor);
  font-size: 30px;
  font-weight: 900;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--inputbarButtonBackground);
  scale: 1;
  transition: 1s;
}

.inputbar-button-container {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inputbar-button:hover {
  scale: 1.1;
  transition: 1s;
}


.timer-container {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

textarea::placeholder {
  color: #fff;
  align-items: center;
  justify-content: center;
}

.timer-counter {
  color: var(--common);
}

@media (max-width:600px) {

  textarea,
  .inputbar-button {
    font-size: 15px;
  }

  .inputbar-button-container {
    height: 60%;
  }
}

.word-counter {
  position: absolute;
  background-color: var(--wordCounterBackground);
  width: 100%;
  height: 1px;
  top: 0;
  font-size: 10px;
  transition-duration: 0.3s;
}