@import "../appColors.css";

.message-parent-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.message-container {
  width: 70%;
  height: auto;
  padding: 1rem;
  padding-top: 0;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--messageContainerBackground);
}

.message-container-header {
  color: var(--messageContainerHeaderColor);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.message-container-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 90%;
}

.item {
  word-break: break-all;
  overflow-wrap: break-word;
}

.date-container {
  display: flex;
  width: 100%;
  height: 20%;
  margin: 1rem;
  justify-content: center;
  padding-top: 1%;
}

.date-container-date {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dateContainerBackground);
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--dateContainerColor);
}



@media (max-width:600px) {
  .date-container {
    margin: 0.1rem;
  }

  .date-container-date {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    font-size: 15px;
  }

  .message-container-header {
    font-size: 15px;
  }
}

.user-profile-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.user-name-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.user-name-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9%;
  width: 100%;
  padding: 1%;
  height: 50%;
  border-radius: 5px;
  background-color: var(--userNameItemBackground);
  border: 1px solid var(--userNameItemBorderColor);
  color: var(--userNameItemColor);
  font-style: bold;
  font-weight: 900;
}

.userlogin-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.userlogin-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 40%;
  background-color: var(--userLoginFormBackground);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
}

input {
  all: unset;
}

.input-bar-user {
  background-color: var(--userInputBarBackground);
  margin-top: 20%;
  padding: 0.3%;
  border-radius: 5px;
  margin-bottom: 10%;
}

button {
  background-color: var(--buttonBackground);
  padding: 2%;
  margin-bottom: 20%;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  color: var(--buttonColor);
  font-size: 30px;
}


@media (max-width:600px) {
  .userlogin-container {
    align-items: flex-start;
  }

  .userlogin-form {
    width: 100%;
  }

  .input-bar-user {
    width: 90%;
    font-size: 20px;
    padding: 1rem;
  }



}